@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#fff8f2;
  color:#1c1c1c;
  overflow-x:hidden;
  font-family:Arial, Helvetica, sans-serif;
}

.container-custom{
  width:100%;
  max-width:1600px;
  margin:auto;
  padding-inline:80px;
}

.gradient-text{
  background:linear-gradient(
    90deg,
    #9b111e,
    #f4b400
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.section-title{
  font-size:68px;
  line-height:82px;
  font-weight:800;
}

.section-subtitle{
  color:#9b111e;
  font-size:18px;
  font-weight:700;
  letter-spacing:3px;
  text-transform:uppercase;
}

@media(max-width:991px){

.container-custom{
  padding-inline:24px;
}

.section-title{
  font-size:42px;
  line-height:52px;
}

}